<main class="content">
  <h3>{{ this.data.name }}</h3>

  <div class="df">
    <div class="left df fcol">
      <span class="label">BOM Number / STL Nummer</span>
      <span>{{ this.data.bomNumber }}</span>
    </div>

    <div class="right">
      <div class="df fcol">
        <div class="desc df fcol">
          <span class="label">Beschreibung 1 / Description 1</span>
          <span>{{ this.data.desc1 }}</span>
        </div>
        <div class="desc df fcol">
          <span class="label">Beschreibung 2 / Description 2</span>
          <span>{{ this.data.desc2 }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="df">
    <div class="left">
      <div class="df fcol">
        <span class="label">Project Number / Projekt Nummer</span>
        <span>{{ this.data.projectNumber }}</span>
      </div>
    </div>
    <div class="right">
      <div class="df fcol">
        <div class="df fcol">
          <span class="label">Project Name / Projekt Name</span>
          <span>{{ this.data.projectName }}</span>
        </div>
      </div>
    </div>
  </div>
</main>
