@import "~@angular/material/theming";

@mixin app-root-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  app-root {
    main {
      background-color: mat-color($background, background);
    }
  }
  app-table {
    mat-form-field {
      input {
        color: mat-color($foreground, text);
      }
    }
  }
  app-bom-info {
    .content {
    }

    h3,
    span {
      color: mat-color($foreground, text);
    }
  }
}

@mixin app-root-typography($config) {
  app-root {
    h1 {
      @include mat-typography-level-to-styles($config, title);
    }
  }
  app-bom-info {
    h2 {
      @include mat-typography-level-to-styles($config, title);
    }
  }
}
