<div class="content-box">
  <mat-card class="card" *ngIf="!mockedFileData">
    <!-- <mat-card class="card" *ngIf="!droppedFile"> -->
    <mat-card-header>
      <mat-card-title><h1>Stüli Builder</h1></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="dropzone" fileDragDrop>
        <div class="text-wrapper">
          <div class="centered">
            <input
              type="file"
              name="file"
              id="file"
              (change)="onFileDropped($event)"
              multiple
            />
            <label class="text-link df fcol fcc" for="file">
              <span class="text-file">
                Klicken Sie hier, um Ihre Datei hochzuladen
              </span>
              oder ziehen Sie die Datei direkt hierher!
            </label>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="onButtonPaste()">
        Text hinzufügen...
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-spinner *ngIf="spinner"></mat-spinner>
  <div class="container" *ngIf="mockedFileData">
    <!-- <div class="container" *ngIf="droppedFile"> -->
    <button (click)="droppedFile = false">New List</button>
    <app-table [droppedFile]="droppedFile" [data]="mockedFileData"></app-table>
    <!--  <app-table [droppedFile]="droppedFile"></app-table> -->
  </div>
</div>
