<div>
  <div class="table-tools df">
    <!-- filter -->
    <mat-form-field class="filter" color="accent">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Geben Sie den zu suchenden Text ein, um die Tabelle zu filtern"
        #input
      />
    </mat-form-field>
    <!-- filter -->
    <app-header-tools></app-header-tools>
  </div>

  <div class="table-info">
    <app-bom-info></app-bom-info>
  </div>

  <table
    multiTemplateDataRows
    mat-table
    [dataSource]="this.dataSource"
    matSort
    class="mat-elevation-z8 table-list"
  >
    <!-- rows with information -->
    <ng-container
      *ngFor="let column of displayedColumns; let i = index"
      [matColumnDef]="column"
    >
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{ column }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element[column.toLowerCase()] }}
      </td>
    </ng-container>

    <!-- expanded -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        >
          <mat-icon *ngIf="expandedElement !== element"
            >keyboard_arrow_down</mat-icon
          >
          <mat-icon *ngIf="expandedElement === element"
            >keyboard_arrow_up</mat-icon
          >
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div
          class="expanded-row"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div class="expanded-main df fcol">
            <div class="expanded-art-num">{{ element.code }}</div>
            <div>version 0.0</div>
          </div>
          <div class="expanded-details df">
            <div class="expanded-comments"><b>Kommentare:</b></div>
            <div class="expanded-logs"><b>Änderungen Verlauf:</b></div>
            <div class="expanded-extra df fcol">
              <div class="item-options">
                <button
                  mat-icon-button
                  color="warning"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>save</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warning"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warning"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </div>
              <div class="expanded-doku">
                <button mat-raised-button color="accent">Dokumentation</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!--  -->
    <tr
      mat-header-row
      *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"
    ></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    showFirstLastButtons="true"
    [pageSizeOptions]="[16, 32, 48]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
